/* LAPTOP VIEW */
body{
    background: rgb(139, 139, 139, 0.5);
    padding: 0px;
    margin: 0px;
}
@media screen and (min-width: 1200px) {
   
  .nav {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: black;
    width: 100%;
    height: 20vh;
  }
  .nav:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(92, 29, 29, 0.15) 0px -10px 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .logo-a {
    margin: 20px;
    padding: 20px;
  }
  .logo {
    padding: 40px;
    width: 100px;
    height: 50px;
  }
  .overlay-menu {
    height: 100vh;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-x: visible;
    overflow-y: visible;
  }
  .overlay-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    width: 100vh;
    text-align: left;
    padding: 20px;
    margin: 30px;
  }
  .overlay-menu a {
    margin: 8px;
    font-size: 30px;
    text-decoration: none;
    transition: 0.3s;
  }
  .overlay-menu a:hover,
  a .overlay-menu a:focus {
    color: rgb(139, 139, 139, 1);
  }
  .overlay-menu .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
  }
  .openbtn {
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
  }


  /* CONNTACT */

  .contact {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
  }
  .contactGrid {
    display: flex;
    flex-direction: column;
    background: rgba(139, 139, 139, 0.3);
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    width: 60vw;
  }
  
  input {
    padding: 20px;
    margin: 20px;
    width: 39vw;
    height: 1vh;
  }
  textarea {
    width: 41vw;
    padding-left: 20px;
    padding-top: 20px;
  }
  .button {
    background: #000000;
    color: #fff;
    margin-left: auto;
    padding: 10px;
    margin: 20px;
  }


  /* FOOTER */
.footerGrid{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    /* background: #000000; */
    height: 10vh;
}
.footer{
    background: #000000;
    text-align: center;
    height: 25vh;
}

.fa-twitter-square{
    font-size: 50px;
}
.fa-facebook-square{
    font-size: 50px;
}
.fa-linkedin-in{
    font-size: 50px;
}
.fa-medium{
    font-size: 50px;
}
.fa-instagram-square{
    font-size: 50px;
}
.icon {
  padding: 20px;
  letter-spacing: 20px;
  color: #fff;
}


h3 {
  text-align: center;
  color: #fff;
}

.zone {
  /* padding:30px 50px;
    margin:40px 60px; */
  cursor: pointer;
  /* display:inline-block; */
  color: #fff;
  font-size: 2em;
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
}



@media screen and (max-width: 768px) {
  .nav {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: black;
    width: 100%;
    height: 20vh;
  }
  .nav:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(92, 29, 29, 0.15) 0px -10px 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .logo-a {
    margin: 10px;
    padding: 10px;
  }
  .logo {
    width: 100px;
    height: 50px;
  }
  .overlay-menu {
    height: 100vh;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-x: visible;
    overflow-y: visible;
  }
  .overlay-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    width: 100vh;
    text-align: left;
    padding: 20px;
    margin: 30px;
  }
  .overlay-menu a {
    margin: 8px;
    font-size: 30px;
    text-decoration: none;
    transition: 0.3s;
  }
  .overlay-menu a:hover,
  a .overlay-menu a:focus {
    color: rgb(139, 139, 139, 1);
  }
  .overlay-menu .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
  }
  .openbtn {
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  .cover {
    position: relative;
    width: 100vw;
    height: 40vh;
  }
  h1 {
    font-size: 50px;
  }
  .hero-content {
    padding-left: 50px;
    position: absolute;
    margin-top: -400px;
    color: #fff;
    z-index: 1;
  }
  .hero-text {
    font-size: 24px;
    color: #fff;
  }
  .hero-btn {
    padding-top: 30px;
  }
  .hero-btn > button {
    border: 3px solid white;
    padding: 10px;
    width: 10vw;
    font-size: 18px;
    color: #fff;
    height: 8vh;
    background-color: Transparent;
    background-repeat: no-repeat;
  }
  .hero-btn > button:hover {
    font-size: 18px;
    border: 3px solid black;
    color: #000000;
    background-color: Transparent;
  }

  .container {
    background: rgb(139, 139, 139, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .cover {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  h1 {
    font-size: 40px;
    padding: 10px 0px;
  }
  .hero-content {
    padding-left: 20px;
    position: absolute;
    margin-top: -300px;
    color: #fff;
    z-index: 1;
  }

  .hero-text {
    font-size: 20px;
    color: #fff;
  }
  .hero-btn {
    padding-top: 30px;
  }
  .hero-btn > button {
    border: 3px solid white;
    padding: 10px;
    width: 20vw;
    font-size: 18px;
    color: #fff;
    height: 8vh;
    background-color: Transparent;
    background-repeat: no-repeat;
  }
  .hero-btn > button:hover {
    font-size: 18px;
    border: 3px solid black;
    color: #000000;
    background-color: Transparent;
  }

 
  /* CONNTACT */

  .contact {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
  }
  .contactGrid {
    display: flex;
    flex-direction: column;
    background: rgba(139, 139, 139, 0.3);
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    width: 60vw;
  }
  
  input {
    padding: 20px;
    margin: 20px;
    width: 39vw;
    height: 1vh;
  }
  textarea {
    width: 41vw;
    padding-left: 20px;
    padding-top: 20px;
  }
  .button {
    background: #000000;
    color: #fff;
    margin-left: auto;
    padding: 10px;
    margin: 20px;
  }




  /* FOOTER */
  .footerGrid {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 120px;
    /* background: #000000; */
    height: 10vh;
  }
  .footer {
    background: #000000;
    text-align: center;
    height: 25vh;
  }
  .foot-a{
      padding-top: 17px;
      padding-left: 20px;
  }

  .fa-twitter-square {
    font-size: 50px;
  }
  .fa-facebook-square {
    font-size: 50px;
  }
  .fa-linkedin-in {
    font-size: 50px;
  }
  .fa-medium {
    font-size: 50px;
  }
  .fa-instagram-square {
    font-size: 50px;
  }
  .icon {
    padding: 20px;
    letter-spacing: 20px;
    color: #fff;
  }

  h3 {
    text-align: center;
    color: #fff;
  }

  .zone {
    /* padding:30px 50px;
      margin:40px 60px; */
    cursor: pointer;
    /* display:inline-block; */
    color: #fff;
    font-size: 2em;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
  }

  .zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  }
}